@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat;
    background-color: #f5f7fa;
}
.wrapper {
    background-color: #fff;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    margin: 40px;
    display: flex;
}
.sidebar {
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}
.my-photo {
    max-width: 370px;
}
.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin: 55px 40px 0;
}
.contacts-title,
.tech-skills-title,
.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    opacity: 0.5;
    
}
.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;
}
.tech-skills-item,
.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    list-style-type: none;
}
.tech-skills-item:before,
.soft-skills-item:before {
    color: #ff6b08 ;
    content: "\2022";
    font-size: 24px;
    padding-right: 5px;
}

.about-me-container {
    padding: 110px 90px;
}
.info-container {
    margin-bottom: 65px;
}
.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}
.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
.description {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-top: 24px;
    width: 415px;
}

.projects-container {
    margin-bottom: 50px;
}
.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
}
.projects-list {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.42px;
}
.projects-item {
    margin-left: 15px;
    padding-left: 5px;
}
.projects-link, .tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}
.dots {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
}
.projects-link:hover {
    text-decoration: underline;
}
.profession-container {
    margin-bottom: 20px;
}
.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.48px;
    margin: 10px 0 0px;
}
.title-highlighting {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.48px;
}
.period {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.36px;
}
.profession-list {
    width: 535px;
    margin-left: 15px;
}
.profession-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
.specialty {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.42px;
}